{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<div class="row">
    <div class="col-md-6">
        <h4>The Human</h4>
        <p>
            Hi! My name is Ottilie Zivanovic, and I'm a female human living in London, UK. Currently undergoing an early mid-life crisis, I spend my days
            writing terrible Python code and my evenings/weekends producing terrible photographs and drawings. Or reading, or sometimes running.
        </p>
    </div>
    <div class="col-md-6">
        <h4>The Technology</h4>
        <p>
            I've always been a bit of a gadget fanatic, even before I acquired my first autofocus SLR back in 1995 - a Canon EOS 50e, with oh-so-clever 'eye controlled' focus
            point selection. I miss that feature. After that beastie I went through many 35mm, medium and large format film cameras before finally going digital (very late) in
            2008. A significant collection of nice Canon lenses meant I stuck to Canon, first buying a 5D (just as the Mk II was released), then the 5DII three years later 
            (just as the Mk III came out - spot a trend?). I never, however, felt quite as comfortable with my DSLRs as I had with the old filmies - so photography took a bit of 
            a back seat for a while, only being hoiked out for special trips and holidays.<br />
            Until April 2017! I hadn't even picked up my SLR for a year, having had shoulder surgery which meant I, er, couldn't... Packing for a nice canal holiday, I wisely chose 
            to test the thing before taking it - and the mirror fell out. Thanks you the miracle of YouTube I managed to get it going again, but a deep feeling of distrust remained and 
            I decided the time had come to invest Serious Cash in a new machine: the brand new 5DIV. It's my first time owning the latest-and-greatest prosumer SLR early in its lifespan, 
            and it has been absolutely amazing - the quality is so ridiculous it made all my old lenses look dreadful, meaning they all had to be replaced (ouch) and it has made taking pictures 
            *fun* again. Thus the need for a website wherein I can inflict the results on unsuspecting netizens. Sorry about that.
        </p>
    </div>
</div>
{% endblock %}
